.text-center {
    text-align: center;
}

body{
    width: 80%;
    display: block;
    margin: auto;
}

a{
    text-decoration: none;
    color: #71c7e9;
}

a:hover{
    text-decoration: underline;
}

.form-grope{
    display: inline-block;
}

.form-control{
    padding: 10px;
    width: 50%;
}

.btn{
    padding: 12px;
    position: relative;
    color: #fff;
    background: #71c7e9;
    font-weight: bold;
    border: 0px;
}
.pt-20{
    padding-top: 20px;
}
.pb-50{
    padding-bottom: 50px;
}

.err-url{
    color: red;
    font-size: x-small;
    text-align: left;
}

.main-logo{
    width: 50%;
}